@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rubik:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#00c6ff, #0078ff);
}

.container {
    width: 500px;
    background: #fff;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.container .post {
    display: none;
}

.post header {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 17px 0;
    border-bottom: 1px solid #bfbfbf;
}

.post form {
    margin: 20px 25px;
}

.post form :where(.content, .details .privacy) {
    display: flex;
    align-items: center;
}

.post form .content img {
    max-width: 52px;
}

.post form .content .details {
    margin-left: -3px 0 0 12px;
}

form .content .details p {
    font-size: 17px;
    font-weight: 500;
}

form .content .details .privacy {
    background: #e4e6eb;
    max-width: 98px;
    font-size: 11px;
    padding: 0 10px;
    margin-top: 3px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-between;
}

.details .privacy span {
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
}

.details .privacy i:last-child {
    font-size: 13px;
    margin-left: 1px;
}

.post form :where(textarea, button) {
    width: 100%;
    outline: none;
    border: none;
}

.post form textarea {
    resize: none;
    margin-top: 30px;
    min-height: 100px;
    font-size: 18px;
}

.post form :where(.theme-emoji, .options) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form .theme-emoji img:last-child {
    max-width: 24px;
}

form .options {
    border: 1px solid #b9b9b9;
    height: 57px;
    border-radius: 7px;
    padding: 0 15px;
}

form .options p {
    color: #595959;
    font-size: 15px;
    font-weight: 500;
}

form .options :where(.list, li) {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .options .list li {
    list-style: none;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.options .list li:hover {
    background: #f0f1f4;
}

.options .list li img {
    cursor: pointer;
    width: 23px;
}

form button {
    height: 53px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 500;
    cursor: no-drop;
    color: #bcc0c4;
    background: #e2e5e9;
}

form textarea:valid ~ button {
    color: #fff;
    cursor: pointer;
    background: #4599ff;
}
